language: java

jdk:
  - openjdk18

# Need a full git clone in order to be able to tag the release
git:
  clone: false

install:
  - git clone https://github.com/$TRAVIS_REPO_SLUG.git $TRAVIS_REPO_SLUG
  - cd $TRAVIS_REPO_SLUG
  - git checkout ${TRAVIS_PULL_REQUEST_BRANCH:-$TRAVIS_BRANCH}
  - POM_VERSION=$(mvn -q -Dexec.executable=echo -Dexec.args='${project.version}' --non-recursive exec:exec | sed -e 's/-SNAPSHOT//')
  - openssl aes-256-cbc -K $encrypted_044baa266d1a_key -iv $encrypted_044baa266d1a_iv -in .travis/gpg.asc.enc -out .travis/gpg.asc -d
  - gpg --fast-import .travis/gpg.asc

env:
  global:
    # Environment variables referenced in .travis/maven-settings.xml. To encrypt and escape values correctly, run the following
    # command and enter ENV_VAR=value when prompted:
    # read -r && travis encrypt "$(printf %q "$REPLY")"
    - secure: RumwQb5eCBG2OEuzzh6H0FW0jlRJ5Yoc54bf1+rhX4ilFoeGRfg/2oHjMECGKSLQliMCirvgQIrBM4evXyhwsE7SCgsjqf2PvKAS40cfeRs9OaTNvc7XWhcR8VacdZ6kvgNOPyEboGfktK8CdP66vdva0vuSOVXw9gDR7RYaRgU06zDn/9dmDJOsVI8aHjGhM308DlvMr50earp3ffqKPWxfeg065WIkoSzr4ZY6QUA7pR8/USTthteKuQf2gOMNKMGwZrSRzAGQpjM6w6yIuu+5McL/mJzxpjnGMXKRlz2Com+dxEifd4wrBnbuApQcMC0QKAGAKsWCKHhn9ETtToRzkHJgY3wLA4TAurFUN8/gW5GFuAlzRH8IoQcB0sHfSkLsTpWkeIIKnqhgcCaq9WF2tVPQuYriGiAi9+BySmOXm/X0nVmJ+A8OB2OFzARx8Ub38aZmXb3WrfWyGL/KtyYZMecN9hjxIeaQL+56bk1QHPDhAe8YG2YLwJlFbPzyNpde826RRHuv2rnG3PDv54PsEwcDKvaZvOtdVzl2xgC+pjSTKmhHzJlDYkO/n1lIEPWVsAKxgwutVS6EN7/gxckt6x41asKf4VoAwx13qfRgg9aB2Vc7/1mz3B2kz5xJK8R3uzXEwdtgTx6w2++1w/5kESETrlfxawQtJinjGa8=
    - secure: uzhy57LNOBynqQYI0zY4I+7j8OtnejKaUSRYCznp198H0yWflzY0G/AKoqWnH+fbl8d2kyroQrLLGuegWD4NXZuH12oI0/aWU2HZu/uHkFa8cAZzA9FQmAZCad/bheI2HayB5oyWUB+94RptGBO2mechDUkVDaFMIZ0Wwn70UJOMVZRfQLgbaVu4By0Y53HdDoK31Cq/8WMb1pozBnz9YhkpabqDknXR5MK1fYo+djzp5EsG2lqEtEqphK7vRH5ZnUu5Z6N8M3F141Aqv/s1jMkQ7b/CSeND/o3LtiVqCWTqwr64ytM3nOuEcrkWHIo7z23qtbodZp+9sxuENGtscoacW4+8qOWaQyz78U+rNPrFnyutQen3eV0aKcGzul+5H8vJcRECYOn4MShPxQn4sbiptNGUgsLlPSr97OWhzfDQcHV070xugoJzCDTa/DJCCH5gccAYF357MQZ6sDEgsq21bAsOyUd7C2gHhaixh6YVKmKyCMaa1zFS0RADP8ZcccnI2lYNTBTZHc8pq9TzN4e/R9rJcxhPcjLHq6NnaAJag509150MKuRHzew9mXn65RTnSAQmMZGkd0Y+v4OL2jCtO52fE1tUwWluXWMLu/1S5l3JnDrUUPgk0/8HuCBwj4nUmvCI8D/c4Z7sC2ICF1rKSuGINvzaQu3xv+usEFE=
    - secure: cWz/kRhyCUrx+JZ5QLMh/w5s0z55khJfe0kQvsp2j8Z4UdkYKNOZlprhnl1xCRgffqS7o+vhIJ5NzX+jsjTiU/6e/5vviuXD6jtG9yT7ZhxKD1oBAcgL6VbrAlxqaAmgSH/I34Kw2NWoSVEygYZji1IlCPmjtyD486WnjGhCNqsDGOikomOyPUKCdxSpI0WEw83/u4cVxL3KGh5hjVg/FXAtccWpmiuUHiCsEaGnM2fGkxOuvH6Ell5+s0RW0GiK/OZvxwPQrtt3Hqppx6QT+XWrOUD+cLkkyQxfbHVLwMMlZU/RBoWyrFggJCBP0bmhd9hYnUx46ahAgSxMbbxEXM/HHKG88X6eM2HJjP54Gy14tAoxkJrSW/7KzSEqY0UJ0y24uVZSyfYE2M1WJ/wimQsLuw+IjpeI7hvsalCwFsKJj0V7aLbAkv+VGpTnXdpmVdDV5kKPFCLvGswYLJqzXLqISVmD7nIFL5EMGx8aZCmDHM0A6RVUYvEoZL0r0IAXTCwTj/lyWSUMQzTR75SlbuAqwbmaYuzDyrZG9tWRSoAL5skhe2+3r+Z1mVUQM9J8sagx5xRpmjnj9fUS/K1lhlWCT4YYJDaWpa9I5A5ssbCQM0X1DfBycfgoeFb7CzL/g3HQPEAbrR34m+nNunk/79dvlKqzDAk7ItaSRmDUGd4=
    - secure: oycOXMRPtsd9DLSPf2Ze4yc/e3f7NR9yuA2db9xYLGQNckc+z8yzaTMlTotesGDhpvVtZrZRTOI1G3cOMy2ffiYSR35E4K+wRzadWeCBoHyL5ryWppCSlncT0ItvUuR8kbiK4d/0pFrbtjddsvEGxIGNtXn91wSu4/ernoGbKgE5YHvH8n1CuQrj6V0jcb31O1gY6TcSdA73apoPd0kQ+gMSroVdc1XDzY9jG2CFzNvmMZ67pYqwKX6mZADl3uU8RbrjsMo2VDTEDDW3VfYotd7vguxtEHQbslg8hD/EWvSStcKZFeVPOBJdbGe1kDZQ2DmQsLpfX+gtF+3PwnLfGEDdoEyHFXgko5U710uRPiuSYlB/GStuB9JBPE4Fv8RTJcXX2aMfKy5TrIIsmP1D0Xh6MPzqpQieirvpot3q71VSHXqzrJpSGwGOTMr0is0OkjEEeWARJYeLvlVuqjrN2KXpkhqNIDauTblvRTUH01dThY89vVTPvHvLKlDEeV1CkLbBuZsUGxdjGu59daHN87flzJVx7h5xURvQAztnAt8RLJNZoI9QCdXIB3gQz6N5Ihh/+3NsqjWzTQryj47qrVcfm84u3trbujmGNLLEjM0KRV8VQwFnonw+m99oZLOM76pfca66uVyBk5yiPHPwvhzp7jjybA8C0LxjMGFlBxM=
    - secure: c+bw9CWWP+4UdYOLxqOe5M+K/ivfrXKiiNaof6HYEqiWPIsscJCrgg5O3qPtZocJKhCWN3L8Q1fMr/SlA+bJP55S7s3AKHPxBONBt3gaVNMk1M1KK6PuixxI5rcKa0gGq6Sp03p8u6VrI+cRfoPuOy2Bhej94G9KRe1EXf+6Ja4dVSwZ4SCM06KZcfHVUOv6eznwYpgZorZvs2BGVazh5VW+6WWbodIlm36kgCJu48jEfcqeP2wRtXVmabt392gdLCMNAJHeu50ZOZc+mPoDdJ0ePoJCfxDP3V7X7TJxCalmC9iDyiA/pKcQXTa8EkGoW/tOGOMv0PJZ99QMQLCxTrOaa6jUfMf0wQ1WsP2QJwhMCGRZn+2QsL0pjylJ7H/5mZG0PbHhuJ/Nmhx8Kuwx/U+d53XV1jUCXJIQQtF6qCmZ5ndJgAQuh06L5xvoDowz48SdNRO7jKUIHt6Jdy4ouvrlHLlUVrCmwUjp9v2TPSJlMu2k64/CAl75H+zic3dydt2p11bdar/WY3eKCDIRw0lyujxD2pop2BsJ4XOmP/BDn2WpjwuKymXsqwgwVEzS66mvGfF9pbxbLkNLYSsppFcLTLKlyxyyN342AaO9/nsmicHJV0jWx2nEx9RYZXGjS0rryqsbGPE0Ox0bFqEgVcFctowFhhEEzf6Qd0sX6as=

script:
  - mvn clean install -B
  - mvn org.pitest:pitest-maven:mutationCoverage -B

before_deploy:
  # Set tag to be used by releases provider
  - export TRAVIS_TAG=$POM_VERSION

deploy:
  # For any checkin to main branch, create a final version, tag it and push the artifacts to Sonatype
  - provider: script
    skip_cleanup: true
    script:
      mvn --settings .travis/maven-settings.xml release:prepare release:perform -DskipTests -Prelease -B
    on:
      branch: main

  # Releases config copied from https://docs.travis-ci.com/user/deployment/releases/ and secure key generated by following
  # https://stackoverflow.com/questions/25302518/travis-ci-setup-releases-with-github-token#answer-57032190
  - provider: releases
    api_key:
      secure: Ai/zpZdoW43VFyHoAB9I2hC4vm8a4jF/TVpcELP1ypvs/wXrR/lcPeTFGBJPnomFkkRe8fjWX/K4NkkkmK3Vi97A0pXxewmbCKftknAzYSR202NfSRWBAFNoriLlLgCy7p+rKBW/Xml4fsofnt411CyToJE+MqNrXBSNjfv3jz50cl3s9BLrTu4VLQfIaDTQB5+M8mwUDs5qjZ1yy21wohtMk51VzGWUenSgBv7ZPA9sGopVPE3WYsjN7HsmrwkOxOB2iQGJ3sXRORXwN1Esw8HTExuitaTM0qu/Z8RDR2mMWtONb9aGFk+8LkGE1AkAe5IdNPEDPtFQfuVPD2AOLULWvUuepH5RKq6ATgbB076tVqI6R2SrjJ5h4wF+SxlUtlfWp9iBLq8pTTFRGSvs1v3IHgwVtKJrhJBCn8Ij//NGo3oLGn31fftMP6HRv7frXSKGu+1H3/+BqPw6w3CgWen2bAOFLvBf0v1tgT15RjFFDrDvChVEYsiiM+kASj+hPykWcbN6jrOPjC1Oy94JIKzL4AJj3Euk+/wsG0giC/Fb2auFAcL7DPzvb+DZ8jZNhVPHefMSKQGVyH0xZW3o1mT7XDkonBGAln+kuog8MiNmLAi/ptYs2VQ6F2X+s2JizTWB24OcwhiQAkIy7LQ5BfanhB+5zbyjppB/t6mydLA=
    file:
      - "spt-development-cid-jms-spring-boot-autoconfigure/target/spt-development-cid-jms-spring-boot-autoconfigure-${POM_VERSION}.jar"
      - "spt-development-cid-jms-spring-boot-starter/target/spt-development-cid-jms-spring-boot-starter-${POM_VERSION}.jar"
    skip_cleanup: true
    on:
      branch: main
